<div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
        <form [formGroup]="UserForm">

            <div class="form-outline mb-4">
              <label class="form-label" for="">Email*:</label>
              <input type="email" class="form-control" formControlName="Email" />
              <div *ngIf="f['Email'].invalid && (f['Email'].dirty || f['Email'].touched)"
                class="d-inline text-danger">
                <div *ngIf="f['Email'].errors?.['required']"> Email is required</div>
                <div *ngIf="f['Email'].errors?.['Email']">
                  Invalid email address
                </div>                     
              </div>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="">Password*:</label>
              <input type="password" class="form-control" formControlName="Password" />
              <div *ngIf="f['Password'].invalid && (f['Password'].dirty || f['Password'].touched)"
                class="d-inline text-danger">
                Passoword is required
              </div>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="">Name*:</label>
                <input type="text" class="form-control" formControlName="Name" />
                <div *ngIf="f['Name'].invalid && (f['Name'].dirty || f['Name'].touched)"
                  class="d-inline text-danger">
                  User Name is required
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="">Role*:</label>
                <select type="text" class="form-select" formControlName="Role">
                    <option value="Admin">Admin</option>
                    <option value="Donor">Donor</option>
                    <option value="Charity">Charity</option>
                </select>
                <div *ngIf="f['Role'].invalid && (f['Role'].dirty || f['Role'].touched)"
                  class="d-inline text-danger">
                  Please select a role
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="">Phone:</label>
                <input type="text" class="form-control" formControlName="Phone" />                
              </div>
          </form>
          <div class="d-flex gap-2">
            <button class="btn btn-primary" type="button" (click)="onSubmit()" *ngIf="userId == null || userId == undefined" [disabled]="!UserForm.valid">Add</button> <br>
            <button class="btn btn-primary" type="button" (click)="onSubmit()" *ngIf="userId != null && userId  != undefined" [disabled]="!UserForm.valid">Edit</button> <br>
            <a class="btn btn-warning" type="button" routerLink="/admin/users">Go Back</a> <br>
          </div>
    </div>
</div>
