<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" height="36">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#MyNavbar"
            aria-controls="MyNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="MyNavbar">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="charity-list">Charities
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" routerLink="campaign-list">Campaigns
                    </a>
                </li>
                <li class="nav-item" *ngIf="loginDetails == undefined && loginDetails == null">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="loginDetails == undefined && loginDetails == null">
                    <a class="nav-link" routerLink="register">Register</a>
                </li>
                <li class="nav-item"  *ngIf="loginDetails != undefined && loginDetails != null && loginDetails.Role == 'Admin'">
                    <a class="nav-link" routerLink="admin">Admin</a>
                </li>
                <li class="nav-item"  *ngIf="loginDetails != undefined && loginDetails != null && loginDetails.Role == 'Charity'">
                    <a class="nav-link" routerLink="/charity/dashboard">Deshboard</a>
                </li>
                <li class="nav-item"  *ngIf="loginDetails != undefined && loginDetails != null && loginDetails.Role == 'Charity'">
                    <a class="nav-link" routerLink="/charity/CampaginList">Campagin list</a>
                </li>
                <li class="nav-item"  *ngIf="loginDetails != undefined && loginDetails != null && loginDetails.Role == 'Charity'">
                    <a class="nav-link" routerLink="/charity/AddCampagin">Add Campagin</a>
                </li>
                <li class="nav-item"  *ngIf="loginDetails != undefined && loginDetails != null && loginDetails.Role == 'Donor'">
                    <a class="nav-link" routerLink="/donor/donations">My Donations</a>
                </li>
            </ul>
            <form class="d-flex gap-2 my-2 my-lg-0" >
                <a class="btn btn-outline-success my-2 my-sm-0 mr-5" routerLink="/login" *ngIf="loginDetails == undefined && loginDetails == null">
                    Login
                </a>
                <a class="btn btn-outline-success my-2 my-sm-0 ml-5"  routerLink="/register" *ngIf="loginDetails == undefined && loginDetails == null">
                    SignUp
                </a>
                <a class="btn btn-outline-danger" (click)="logout()"  *ngIf="loginDetails != undefined && loginDetails != null">
                    Logout
                </a>
            </form>
        </div>
    </div>
</div>