<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
        <a class="navbar-brand" href="#">
            <img src="/assets/logo.png" alt="" height="36">
          </a>
        
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Humanitarian Projects</a></li>
            <li><a class="link-secondary" href="#">Community Initiatives</a></li>
            <li><a class="link-secondary" href="#">Education Programs</a></li>
            <li><a class="link-secondary" href="#">Healthcare Support</a></li>
            <li><a class="link-secondary" href="#">Environmental Sustainability</a></li>
            <li><a class="link-secondary" href="#">Last Campaign</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Donate Now</a></li>
            <li><a class="link-secondary" href="#">Volunteer Opportunities</a></li>
            <li><a class="link-secondary" href="#">Impact Stories</a></li>
            <li><a class="link-secondary" href="#">Get Involved</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Health and Wellness</a></li>
            <li><a class="link-secondary" href="#">Education and Training</a></li>
            <li><a class="link-secondary" href="#">Community Development</a></li>
            <li><a class="link-secondary" href="#">Environmental Conservation</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">Our Team</a></li>
            <li><a class="link-secondary" href="#">Our Locations</a></li>
            <li><a class="link-secondary" href="#">Privacy Policy</a></li>
            <li><a class="link-secondary" href="#">Terms and Conditions</a></li>
        </ul>
      </div>
    </div>
    <small class="d-block mb-3 text-muted">&copy; 2024-2025</small>
  </footer>