<div class="d-md-block   collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column text-black">
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-black ps-5" aria-current="page" routerLink="dashboard">
            <span data-feather="admin"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-black ps-5" routerLink="charities">
            Charities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-black ps-5" routerLink="campaigns">
            Campaigns
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-black ps-5" href="/admin/charities/0">
            Pending Charities
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-decoration-none text-black ps-5" href="/admin/campaigns/0">
            Pending Campaigns
          </a>
        </li>
      </ul>
    </div>
</div>